JWT_SECRET="***" 
CLOUDFLARE_ACCOUNT_ID='***'
CLOUDFLARE_DATABASE_ID='***'
CLOUDFLARE_D1_TOKEN='***'
FRONTEND_ORIGIN='http://localhost:3000'
OPENROUTER_API_KEY=***
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_GITHUB_CLIENT_ID=
OAUTH_WAKATIME_APP_SECRET=
OAUTH_WAKATIME_APP_ID=