JWT_SECRET="***" 
CLOUDFLARE_ACCOUNT_ID='***'
CLOUDFLARE_DATABASE_ID='***'
CLOUDFLARE_D1_TOKEN='***'
FRONTEND_ORIGIN='http://localhost:3000'
OPENROUTER_API_KEY=***
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID=
WAKATIME_APP_SECRET=
WAKATIME_APP_ID=